{
  "openapi": "3.0.1",
  "info": {
    "title": "CATALOG API",
    "version": "1.0.0",
    "description": "Ma Ville Mon Shopping Catalog API"
  },
  "paths": {
  },
  "servers": [
    {
      "url": "https://stingy-advice-gw.aws-euc1.cloud-ara.tyk.io/catalog-dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "authorization": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header"
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "streetNumber": {
            "type": "string",
            "example": "33",
            "description": "Address's street number"
          },
          "route": {
            "type": "string",
            "example": "Rue Georges Bonnac",
            "description": "Address's route"
          },
          "locality": {
            "type": "string",
            "example": "Bordeaux",
            "description": "Address's locality"
          },
          "country": {
            "type": "string",
            "example": "France",
            "description": "Address's country"
          },
          "postalCode": {
            "type": "string",
            "example": "33000",
            "description": "Address's postal code"
          },
          "latitude": {
            "type": "number",
            "example": 44.82408,
            "description": "Address's latitude"
          },
          "longitude": {
            "type": "number",
            "example": -0.62295,
            "description": "Address's longitude"
          },
          "inseeCode": {
            "type": "string",
            "example": "33063",
            "description": "Insee code"
          }
        }
      },
      "BrandSummary": {
        "type": "object",
        "properties": {
          "_index": {
            "type": "string",
            "example": "brands_v1_20210315162727103"
          },
          "_id": {
            "type": "string",
            "example": "21034"
          },
          "_type": {
            "type": "string",
            "example": "_doc"
          },
          "_score": {
            "type": "number",
            "example": 0.9976985
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Rebok"
          },
          "products_count": {
            "type": "integer",
            "example": 61
          }
        }
      },
      "BrandSearch": {
        "type": "object",
        "properties": {
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_index": {
                  "type": "string",
                  "example": "brands_v1_20210315162727103"
                },
                "_id": {
                  "type": "string",
                  "example": "21034"
                },
                "_type": {
                  "type": "string",
                  "example": "_doc"
                },
                "_score": {
                  "type": "number",
                  "example": 0.9976985
                },
                "id": {
                  "type": "integer",
                  "example": 1
                },
                "name": {
                  "type": "string",
                  "example": "Rebok"
                },
                "products_count": {
                  "type": "integer",
                  "example": 61
                }
              }
            }
          },
          "page": {
            "type": "string",
            "description": "Search page number.",
            "example": "2"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "Unique identifier of a category."
          },
          "name": {
            "type": "string",
            "example": "Mobilier extérieur",
            "description": "Display name of a category."
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            },
            "description": "List of children category."
          }
        }
      },
      "Characteristic": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "color",
            "enum": [
              "color",
              "size"
            ],
            "description": "Type of a characteristic."
          },
          "value": {
            "type": "string",
            "example": "blue",
            "description": "Display name of a characteristic."
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 32,
            "description": "Id of delivery service"
          },
          "name": {
            "type": "string",
            "example": "Delivery's name",
            "description": "Name of delivery service"
          },
          "slug": {
            "type": "string",
            "example": "Delivery's slug",
            "description": "Slug of delivery service"
          },
          "description": {
            "type": "string",
            "example": "Delivery's description",
            "description": "Description of delivery service"
          },
          "publicDescription": {
            "type": "string",
            "example": "Delivery's public description",
            "description": "Public description of delivery service"
          },
          "publicDetailedDescription": {
            "type": "string",
            "example": "Delivery's public detailed description",
            "description": "Public detailed description of delivery service"
          },
          "isExpress": {
            "type": "boolean",
            "example": true,
            "description": "Is Delivery express"
          },
          "isShopDependent": {
            "type": "boolean",
            "example": true,
            "description": "Is Shop Dependent"
          },
          "isDelivery": {
            "type": "boolean",
            "example": true,
            "description": "Is Service is delivery"
          }
        }
      },
      "GoodDeal": {
        "type": "object",
        "properties": {
          "startAt": {
            "type": "string",
            "format": "date",
            "example": "20/01/2021",
            "description": "Start date of a good deal."
          },
          "endAt": {
            "type": "string",
            "format": "date",
            "example": "16/02/2021",
            "description": "End date of a good deal."
          },
          "discount": {
            "type": "integer",
            "example": "20",
            "minimum": 1,
            "maximum": 100,
            "description": "Discount amount of a good deal."
          }
        },
        "required": [
          "startAt",
          "endAt",
          "discount"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "Unique identifier of a shop"
          },
          "name": {
            "type": "string",
            "example": "Air jordan",
            "description": "Name of product"
          },
          "description": {
            "type": "string",
            "example": "Chaussures trop bien",
            "description": "Description of product"
          },
          "brand": {
            "type": "string",
            "example": "Chaussures trop bien",
            "description": "Description of product"
          },
          "status": {
            "type": "string",
            "example": "online",
            "description": "Status of product"
          },
          "sellerAdvice": {
            "type": "string",
            "example": "Taille petite, prendre une demi pointure au dessus",
            "description": "Advice from seller of product"
          },
          "isService": {
            "type": "boolean",
            "example": false,
            "description": "Tell if the product is a service"
          },
          "citizenAdvice": {
            "type": "string",
            "example": "Produit trouvé un commercant trop sympa",
            "description": "Advice from citizen of product"
          },
          "category": {
            "$ref": "#/components/schemas/Category",
            "description": "Category of a product"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Variant"
            }
          },
          "origin": {
            "type": "string",
            "example": "France",
            "description": "Origin of product. (This field is mandatory for some categories)"
          },
          "allergens": {
            "type": "string",
            "example": "Contient des traces de fruit à coques",
            "description": "Advice of potencial allergens. (This field is mandatory for some categories)"
          },
          "composition": {
            "type": "string",
            "example": "Oeuf, sucre",
            "description": "Composition of product. (This field is mandatory for some categories)"
          },
          "provider": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "wynd",
                "description": "Name of provider"
              },
              "externalProductId": {
                "type": "string",
                "example": "33ur",
                "description": "Id used by the provider"
              }
            },
            "required": [
              "name,",
              "externalProductId"
            ]
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 3,
            "description": "Id of review"
          },
          "content": {
            "type": "string",
            "example": "La boutique est super",
            "description": "Content of review"
          },
          "mark": {
            "type": "integer",
            "example": 3,
            "description": "Mark of review"
          },
          "shopId": {
            "type": "integer",
            "example": 57,
            "description": "Shop id of review"
          },
          "productId": {
            "type": "integer",
            "example": 57,
            "description": "Product id of review"
          },
          "userId": {
            "type": "integer",
            "example": 57,
            "description": "User id author of review"
          },
          "parentId": {
            "type": "integer",
            "example": 57,
            "description": "Parent id review if current review is an answer to another review"
          },
          "answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            },
            "description": "List of answers for the review."
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 3,
            "description": "Id of schedules"
          },
          "day": {
            "type": "string",
            "example": "Lundi",
            "description": "Day of week"
          },
          "openMorning": {
            "type": "string",
            "example": "09:00",
            "description": "Time of opening morning"
          },
          "closeMorning": {
            "type": "string",
            "example": "12:00",
            "description": "Time of closing morning"
          },
          "openAfternoon": {
            "type": "string",
            "example": "14:00",
            "description": "Time of opening afternoon"
          },
          "closeAftenoon": {
            "type": "string",
            "example": "19:00",
            "description": "Time of closing afternoon"
          }
        }
      },
      "ProductSearch": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_index": {
                  "type": "string",
                  "example": "products_v1_20210315162727103"
                },
                "_id": {
                  "type": "string",
                  "example": "21034"
                },
                "_type": {
                  "type": "string",
                  "example": "_doc"
                },
                "_score": {
                  "type": "number",
                  "example": 0.9976985
                },
                "id": {
                  "type": "integer",
                  "example": 21034
                },
                "name": {
                  "type": "string",
                  "example": "MIRACLE : L'ENVOÛTANT PARFUM D'UN PÂTÉ BRASSÉ"
                },
                "slug": {
                  "type": "string",
                  "example": "miracle-l-envoutant-parfum-d-un-pate-brasse"
                },
                "createdAt": {
                  "type": "string",
                  "example": "2020-04-10T14:44:53.723+02:0"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "2020-04-10T14:46:26.902+02:00"
                },
                "description": {
                  "type": "string",
                  "example": "Par cette collaboration, l’idée est de se fondre dans l’agrosystème mis en place entre l’éleveur du Prince Noir de Biscay et la brasserie Mira. Par ce mécanisme soigneusement orchestré, le bon sens commun et la culture raisonnée sont mis à l’honneur. C’est un retour aux fondamentaux, au sens de la vie, au « Miracle » de la vie.\r\n\r\nAccompagné de sa phrase « L’envoûtant parfum d’un pâté brassé », on retrouve l’évocation du charme envoûtant de cette bière brune et son parfum si délicat.\r\n\r\nIngrédients: Viande, gorge et foie de porc Prince noir de Biscay, Bière Brune de la Brasserie Mira, sel, poivre, ail et une pincée d’amour."
                },
                "basePrice": {
                  "type": "number",
                  "example": 5.5
                },
                "goodDealStartsAt": {
                  "type": "string",
                  "example": "2020-04-10T14:44:53.723+02:0"
                },
                "goodDealEndsAt": {
                  "type": "string",
                  "example": "2020-04-14T14:44:53.723+02:0"
                },
                "price": {
                  "type": "number",
                  "example": "5.5"
                },
                "quantity": {
                  "type": "integer",
                  "example": 100
                },
                "categoryId": {
                  "type": "integer",
                  "example": 2204
                },
                "categoryTreeNames": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "Alimentation"
                  }
                },
                "categoryTreeIds": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "example": 2054
                  }
                },
                "status": {
                  "type": "string",
                  "example": "online"
                },
                "shopName": {
                  "type": "string",
                  "example": "LES CONSERVISTES"
                },
                "shopId": {
                  "type": "integer",
                  "example": 2088
                },
                "shopSlug": {
                  "type": "string",
                  "example": "shop_slug"
                },
                "inHolidays": {
                  "type": "boolean",
                  "example": false
                },
                "brandName": {
                  "type": "string",
                  "example": "LES CONSERVISTES"
                },
                "brandId": {
                  "type": "integer",
                  "example": 4494
                },
                "cityName": {
                  "type": "string",
                  "example": "Bordeaux"
                },
                "cityLabel": {
                  "type": "string",
                  "example": "Bordeaux"
                },
                "citySlug": {
                  "type": "string",
                  "example": "bordeaux"
                },
                "conurbationSlug": {
                  "type": "string",
                  "example": "bordeaux"
                },
                "inseeCode": {
                  "type": "string",
                  "example": "33063"
                },
                "territoryName": {
                  "type": "string",
                  "example": "Bordeaux Métropole"
                },
                "territorySlug": {
                  "type": "string",
                  "example": "bordeaux-metropole"
                },
                "departmentNumber": {
                  "type": "string",
                  "example": "33"
                },
                "productCitizenNickname": {
                  "type": "string",
                  "example": "XxxDarkSasukexxX"
                },
                "productCitizenSlug": {
                  "type": "string",
                  "example": "xxxdarksasuexxxx"
                },
                "productCitizenImagePath": {
                  "type": "string",
                  "example": "https://mavillemonshopping-examples/uploads/development/image/8096/file/thumb-b04b1b37d90da7bae3200fef258666c0.jpg"
                },
                "defaultSampleId": {
                  "type": "integer",
                  "example": 25301
                },
                "shopPictogramUrl": {
                  "type": "string",
                  "example": "https://mavillemonshopping-exemples.com/uploads/development/image/48072/file/thumb-417fqfsqfq958591c590cb5d0e619f38f.jpg"
                },
                "imageUrl": {
                  "type": "string",
                  "example": "https:/mavillemonshopping-exemples.com/uploads/development/image/46718/file/thumb-473860fqsfsqfac939fb02d2a0263cf171.jpg"
                },
                "productPageUrl": {
                  "type": "string",
                  "example": "https://mavillemonshopping-dev.herokuapp.com/fr/bordeaux/les-conservistes/alimentation/epicerie-salee/conserves-et-plats-cuisines/produits/miracle-l-envoutant-parfum-d-un-pate-brasse"
                },
                "shopUrl": {
                  "type": "string",
                  "example": "/fr/bordeaux/boutiques/les-conservistes"
                },
                "numberOfOrders": {
                  "type": "integer",
                  "example": 3
                },
                "colors": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "Modèle par défaut"
                  }
                },
                "sizes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "40"
                  }
                },
                "selectionIds": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "example": 30
                  }
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "e-reservation"
                  }
                },
                "shopIsTemplate": {
                  "type": "boolean",
                  "example": false
                },
                "score": {
                  "type": "integer",
                  "example": 0
                },
                "position": {
                  "type": "integer",
                  "example": 480
                },
                "indexedAt": {
                  "type": "string",
                  "example": "2021-07-30T10:29:24.113+02:00"
                },
                "uniqueReferenceId": {
                  "type": "integer",
                  "example": 1356
                },
                "isAService": {
                  "type": "boolean",
                  "example": true
                },
                "onDisount": {
                  "type": "boolean",
                  "example": true
                },
                "disountPrice": {
                  "type": "number",
                  "example": 50.5
                }
              }
            }
          },
          "filters": {
            "type": "object",
            "properties": {
              "basePrice": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Base price value",
                      "example": "23"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "12"
                    }
                  }
                }
              },
              "colors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Color name",
                      "example": "red"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "sizes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Size name",
                      "example": "M"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "services": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Service slug",
                      "example": "livraison-la-poste"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Category name",
                      "example": "homme/vetements"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "brands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Brand name",
                      "example": "Nike"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              }
            }
          },
          "page": {
            "type": "string",
            "description": "Search page number.",
            "example": "2"
          }
        }
      },
      "ProductSummary": {
        "type": "object",
        "properties": {
          "_index": {
            "type": "string",
            "example": "products_v1_20210315162727103"
          },
          "_id": {
            "type": "string",
            "example": "21034"
          },
          "_type": {
            "type": "string",
            "example": "_doc"
          },
          "_score": {
            "type": "number",
            "example": 0.9976985
          },
          "id": {
            "type": "integer",
            "example": 21034
          },
          "name": {
            "type": "string",
            "example": "MIRACLE : L'ENVOÛTANT PARFUM D'UN PÂTÉ BRASSÉ"
          },
          "slug": {
            "type": "string",
            "example": "miracle-l-envoutant-parfum-d-un-pate-brasse"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-04-10T14:44:53.723+02:0"
          },
          "updatedAt": {
            "type": "string",
            "example": "2020-04-10T14:46:26.902+02:00"
          },
          "description": {
            "type": "string",
            "example": "Par cette collaboration, l’idée est de se fondre dans l’agrosystème mis en place entre l’éleveur du Prince Noir de Biscay et la brasserie Mira. Par ce mécanisme soigneusement orchestré, le bon sens commun et la culture raisonnée sont mis à l’honneur. C’est un retour aux fondamentaux, au sens de la vie, au « Miracle » de la vie.\r\n\r\nAccompagné de sa phrase « L’envoûtant parfum d’un pâté brassé », on retrouve l’évocation du charme envoûtant de cette bière brune et son parfum si délicat.\r\n\r\nIngrédients: Viande, gorge et foie de porc Prince noir de Biscay, Bière Brune de la Brasserie Mira, sel, poivre, ail et une pincée d’amour."
          },
          "basePrice": {
            "type": "number",
            "example": 5.5
          },
          "goodDealStartsAt": {
            "type": "string",
            "example": "2020-04-10T14:44:53.723+02:0"
          },
          "goodDealEndsAt": {
            "type": "string",
            "example": "2020-04-14T14:44:53.723+02:0"
          },
          "price": {
            "type": "number",
            "example": "5.5"
          },
          "quantity": {
            "type": "integer",
            "example": 100
          },
          "categoryId": {
            "type": "integer",
            "example": 2204
          },
          "categoryTreeNames": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Alimentation"
            }
          },
          "categoryTreeIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "example": 2054
            }
          },
          "status": {
            "type": "string",
            "example": "online"
          },
          "shopName": {
            "type": "string",
            "example": "LES CONSERVISTES"
          },
          "shopId": {
            "type": "integer",
            "example": 2088
          },
          "shopSlug": {
            "type": "string",
            "example": "shop_slug"
          },
          "inHolidays": {
            "type": "boolean",
            "example": false
          },
          "brandName": {
            "type": "string",
            "example": "LES CONSERVISTES"
          },
          "brandId": {
            "type": "integer",
            "example": 4494
          },
          "cityName": {
            "type": "string",
            "example": "Bordeaux"
          },
          "cityLabel": {
            "type": "string",
            "example": "Bordeaux"
          },
          "citySlug": {
            "type": "string",
            "example": "bordeaux"
          },
          "conurbationSlug": {
            "type": "string",
            "example": "bordeaux"
          },
          "inseeCode": {
            "type": "string",
            "example": "33063"
          },
          "territoryName": {
            "type": "string",
            "example": "Bordeaux Métropole"
          },
          "territorySlug": {
            "type": "string",
            "example": "bordeaux-metropole"
          },
          "departmentNumber": {
            "type": "string",
            "example": "33"
          },
          "productCitizenNickname": {
            "type": "string",
            "example": "XxxDarkSasukexxX"
          },
          "productCitizenSlug": {
            "type": "string",
            "example": "xxxdarksasuexxxx"
          },
          "productCitizenImagePath": {
            "type": "string",
            "example": "https://mavillemonshopping-examples/uploads/development/image/8096/file/thumb-b04b1b37d90da7bae3200fef258666c0.jpg"
          },
          "defaultSampleId": {
            "type": "integer",
            "example": 25301
          },
          "shopPictogramUrl": {
            "type": "string",
            "example": "https://mavillemonshopping-exemples.com/uploads/development/image/48072/file/thumb-417fqfsqfq958591c590cb5d0e619f38f.jpg"
          },
          "imageUrl": {
            "type": "string",
            "example": "https:/mavillemonshopping-exemples.com/uploads/development/image/46718/file/thumb-473860fqsfsqfac939fb02d2a0263cf171.jpg"
          },
          "productPageUrl": {
            "type": "string",
            "example": "https://mavillemonshopping-dev.herokuapp.com/fr/bordeaux/les-conservistes/alimentation/epicerie-salee/conserves-et-plats-cuisines/produits/miracle-l-envoutant-parfum-d-un-pate-brasse"
          },
          "shopUrl": {
            "type": "string",
            "example": "/fr/bordeaux/boutiques/les-conservistes"
          },
          "numberOfOrders": {
            "type": "integer",
            "example": 3
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Modèle par défaut"
            }
          },
          "sizes": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "40"
            }
          },
          "selectionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "example": 30
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "e-reservation"
            }
          },
          "shopIsTemplate": {
            "type": "boolean",
            "example": false
          },
          "score": {
            "type": "integer",
            "example": 0
          },
          "position": {
            "type": "integer",
            "example": 480
          },
          "indexedAt": {
            "type": "string",
            "example": "2021-07-30T10:29:24.113+02:00"
          },
          "uniqueReferenceId": {
            "type": "integer",
            "example": 1356
          },
          "isAService": {
            "type": "boolean",
            "example": true
          },
          "onDisount": {
            "type": "boolean",
            "example": true
          },
          "disountPrice": {
            "type": "number",
            "example": 50.5
          }
        }
      },
      "Shop": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "Unique identifier of a shop."
          },
          "name": {
            "type": "string",
            "example": "Jardin Local",
            "description": "Display name of a shop."
          },
          "slug": {
            "type": "string",
            "example": "jardin-local",
            "description": "Slug of a shop."
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "http://www.image.com/image.jpg"
            },
            "description": "Images of a shop"
          },
          "description": {
            "type": "string",
            "example": "La description d'une boutique",
            "description": "Shop's description"
          },
          "siret": {
            "type": "string",
            "example": "75409821800029",
            "description": "Shop's siret"
          },
          "email": {
            "type": "string",
            "example": "boutique@email.com",
            "description": "Shop's email"
          },
          "baseline": {
            "type": "string",
            "example": "Ma boutique est top",
            "description": "Shop's baseline"
          },
          "facebookLink": {
            "type": "string",
            "example": "http://www.facebook.com/boutique",
            "description": "Shop's facebook link"
          },
          "instagramLink": {
            "type": "string",
            "example": "http://www.instagram.com/boutique",
            "description": "Shop's instagram link"
          },
          "websiteLink": {
            "type": "string",
            "example": "http://www.boutique.com/",
            "description": "Shop's website link"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "Shop's address"
          },
          "lowestProductPrice": {
            "type": "number",
            "example": 23.55,
            "description": "Shop's lowest product price"
          },
          "highestProductPrice": {
            "type": "number",
            "example": 150000000.0,
            "description": "Shop's highest product price"
          }
        }
      },
      "ShopSearch": {
        "type": "object",
        "properties": {
          "shops": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_index": {
                  "type": "string",
                  "example": "shops_v1_20210315162727103"
                },
                "_type": {
                  "type": "string",
                  "example": "_doc"
                },
                "_id": {
                  "type": "string",
                  "example": "42"
                },
                "_score": {
                  "type": "number",
                  "example": 0.9996825
                },
                "id": {
                  "type": "string",
                  "example": "42"
                },
                "name": {
                  "type": "string",
                  "example": "Ray's occult books"
                },
                "createdAt": {
                  "type": "string",
                  "example": "2020-04-11T20:22:29.446+02:00"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "2021-05-06T17:14:04.816+02:00"
                },
                "slug": {
                  "type": "string",
                  "example": "ray-s-occult-books"
                },
                "shopUrl": {
                  "type": "string",
                  "example": "/us/new-york/boutiques/ray-s-occult-books"
                },
                "categoryTreeIds": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "example": [
                      42,
                      43
                    ]
                  }
                },
                "categoryTreeNames": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": [
                      "Books",
                      "Occultism"
                    ]
                  }
                },
                "baseline": {
                  "type": "string",
                  "example": "We are open until 7:00 P.M. on weekdays, midnight on Saturdays"
                },
                "description": {
                  "type": "string",
                  "example": "Ray's Occult books opened in 1986 and we specializing in the bizarre, somewhat strange, and hard to find books. If we don't got it we can get it."
                },
                "brandsName": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": [
                      "Book brand",
                      "Book brand",
                      "Book brand"
                    ]
                  }
                },
                "cityLabel": {
                  "type": "string",
                  "example": "New York"
                },
                "citySlug": {
                  "type": "string",
                  "example": "new-york"
                },
                "inseeCode": {
                  "type": "string",
                  "example": "44084"
                },
                "territoryName": {
                  "type": "string",
                  "example": "Usa"
                },
                "territorySlug": {
                  "type": "string",
                  "example": "usa"
                },
                "departmentNumber": {
                  "type": "string",
                  "example": "44"
                },
                "deletedAt": {
                  "type": "string",
                  "example": null
                },
                "numberOfOnlineProducts": {
                  "type": "integer",
                  "example": 233
                },
                "numberOfOrders": {
                  "type": "integer",
                  "example": 5
                },
                "imageUrl": {
                  "type": "string",
                  "example": "https://static.wikia.nocookie.net/ghostbusters/images/e/e0/GB2film1999chapter04sc001.png/revision/latest?cb=20111220104753"
                },
                "coupons": {
                  "type": "string",
                  "example": "[]"
                },
                "pictogram_url": {
                  "type": "string",
                  "example": null
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": [
                      "click-collect",
                      "drone",
                      "helicopter"
                    ]
                  }
                },
                "isTemplate": {
                  "type": "boolean",
                  "example": false
                },
                "score": {
                  "type": "integer",
                  "example": 5
                },
                "indexed_at": {
                  "type": "string",
                  "example": "2021-06-28T11:09:54.088+00:00"
                }
              }
            }
          },
          "filters": {
            "type": "object",
            "properties": {
              "basePrice": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Base price value",
                      "example": "23"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "12"
                    }
                  }
                }
              },
              "colors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Color name",
                      "example": "red"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "sizes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Size name",
                      "example": "M"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "services": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Service slug",
                      "example": "livraison-la-poste"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Category name",
                      "example": "homme/vetements"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              },
              "brands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Brand name",
                      "example": "Nike"
                    },
                    "value": {
                      "type": "string",
                      "description": "Number of occurrences for this key",
                      "example": "23"
                    }
                  }
                }
              }
            }
          },
          "page": {
            "type": "integer",
            "description": "Search page number.",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total search page number.",
            "example": 15
          }
        }
      },
      "ShopSummary": {
        "type": "object",
        "properties": {
          "_index": {
            "type": "string",
            "example": "shops_v1_20210315162727103"
          },
          "_type": {
            "type": "string",
            "example": "_doc"
          },
          "_id": {
            "type": "string",
            "example": "42"
          },
          "_score": {
            "type": "number",
            "example": 0.9996825
          },
          "id": {
            "type": "string",
            "example": "42"
          },
          "name": {
            "type": "string",
            "example": "Ray's occult books"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-04-11T20:22:29.446+02:00"
          },
          "updatedAt": {
            "type": "string",
            "example": "2021-05-06T17:14:04.816+02:00"
          },
          "slug": {
            "type": "string",
            "example": "ray-s-occult-books"
          },
          "shopUrl": {
            "type": "string",
            "example": "/us/new-york/boutiques/ray-s-occult-books"
          },
          "categoryTreeIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "example": [
                42,
                43
              ]
            }
          },
          "categoryTreeNames": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "Books",
                "Occultism"
              ]
            }
          },
          "baseline": {
            "type": "string",
            "example": "We are open until 7:00 P.M. on weekdays, midnight on Saturdays"
          },
          "description": {
            "type": "string",
            "example": "Ray's Occult books opened in 1986 and we specializing in the bizarre, somewhat strange, and hard to find books. If we don't got it we can get it."
          },
          "brandsName": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "Book brand",
                "Book brand",
                "Book brand"
              ]
            }
          },
          "cityLabel": {
            "type": "string",
            "example": "New York"
          },
          "citySlug": {
            "type": "string",
            "example": "new-york"
          },
          "inseeCode": {
            "type": "string",
            "example": "44084"
          },
          "territoryName": {
            "type": "string",
            "example": "Usa"
          },
          "territorySlug": {
            "type": "string",
            "example": "usa"
          },
          "departmentNumber": {
            "type": "string",
            "example": "44"
          },
          "deletedAt": {
            "type": "string",
            "example": null
          },
          "numberOfOnlineProducts": {
            "type": "integer",
            "example": 233
          },
          "numberOfOrders": {
            "type": "integer",
            "example": 5
          },
          "imageUrl": {
            "type": "string",
            "example": "https://static.wikia.nocookie.net/ghostbusters/images/e/e0/GB2film1999chapter04sc001.png/revision/latest?cb=20111220104753"
          },
          "coupons": {
            "type": "string",
            "example": "[]"
          },
          "pictogram_url": {
            "type": "string",
            "example": null
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "click-collect",
                "drone",
                "helicopter"
              ]
            }
          },
          "isTemplate": {
            "type": "boolean",
            "example": false
          },
          "score": {
            "type": "integer",
            "example": 5
          },
          "indexed_at": {
            "type": "string",
            "example": "2021-06-28T11:09:54.088+00:00"
          }
        }
      },
      "Variant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "Unique identifier of a variant."
          },
          "basePrice": {
            "type": "number",
            "format": "double",
            "example": 20.5,
            "description": "Base price of a variant."
          },
          "weight": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "example": 20.5,
            "description": "Weight in grams of a variant."
          },
          "quantity": {
            "type": "integer",
            "example": 20,
            "description": "Quantity in stock of a variant."
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "https://static.wikia.nocookie.net/charabattles/images/e/eb/Chuck_norris.jpg/revision/latest?cb=20170412123612&path-prefix=fr",
              "https://leserigraphe.com/wp-content/uploads/2019/10/Walker-Texas-Ranger.jpg"
            ],
            "default": [

            ],
            "description": "List of variant images urls"
          },
          "isDefault": {
            "type": "boolean",
            "default": false,
            "description": "Default state of a variant."
          },
          "goodDeal": {
            "$ref": "#/components/schemas/GoodDeal",
            "description": "Good deal of a variant."
          },
          "characteristics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "description": "List of characteristics."
          },
          "externalVariantId": {
            "type": "string",
            "example": "67ty7",
            "description": "Id of variant saved by the provider"
          }
        }
      },
      "Errors": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "The syntax of the query is incorrect.",
            "description": "Message of an error."
          },
          "message": {
            "type": "string",
            "example": "Bad Request",
            "description": "Display description error."
          },
          "status": {
            "type": "integer",
            "example": 400,
            "description": "Status of an error."
          }
        }
      }
    }
  }
}